nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/")= 'Mega Vineyard®'

    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav navbar-right")
        if !isAuthenticated
          li
            a(href="./auth/signin")= 'Ingresar al Sistema'
          li
            a(href="./auth/signup")= 'Registro al Sistema'
        if isAuthenticated && user.rol == 1
              li
                a(href="./auth/signup")= 'Registrar Usuario'
                a(href="./usuarios")= 'Listado Usuarios'
              li
                a(href="./nuevozo")= 'Agregar Zona'
                a(href="./zona")= 'Ver Zonas'
              li
                a(href="./nuevocli")= 'Agregar Clientes'
                a(href="./cliente")= 'Ver Clientes'
              li
                a(href="/")= 'Ver Temperatura Y Humedad'
              li
                a(href="/")= 'Generar Reportes'
              li
                a(href="./nuevanoti")= 'Agregar Notificacion de Mantención '
                a(href="./notificacion")= 'Ver Notificaciones'
              li
                a(href="./auth/logout")= 'Cerrar Sesión'
        if isAuthenticated && user.rol == 2
              li
                a(href="./nuevozo")= 'Agregar Zona'
                a(href="./zona")= 'Ver Zonas'
              li
                a(href="/")= 'Ver Temperatura Y Humedad'
              li
                a(href="/")= 'Generar Reportes'
              li
                a(href="./nuevanoti")= 'Agregar Notificacion de Mantención '
                a(href="./notificacion")= 'Ver Notificaciones'
              li
                a(href="./auth/logout")= 'Cerrar Sesión'
        if isAuthenticated && user.rol == 3
              li
                a(href="/")= 'Ver Temperatura Y Humedad'
              li
                a(href="/")= 'Generar Reportes'
              li
                a(href="./nuevanoti")= 'Agregar Notificacion de Mantención '
                a(href="./notificacion")= 'Ver Notificaciones'
              li
                a(href="./auth/logout")= 'Cerrar Sesión'
