extends ../templates/default

block content
  div(class='row')
    div(class='col-md-6 col-md-offset-3')
      div(class='panel panel-default')
        div(class='panel-heading')= 'Registro De Usuario.'
        div(class='panel-body')
          form(action='/auth/signup' method='post' autocomplete='off')
            div(class='form-group')
              label(for="email")= 'Email.'
              input(type='email' name='email' id='email' placeholder='Email' class='form-control')
            div(class='form-group')
              label(for="nombre")= 'Nombre.'
              input(type='text' name='nombre' id='nombre' placeholder='Nombre' class='form-control')
            div(class='form-group')
              label(for="password")= 'Contraseña.'
              input(type='password' name='password' id='password' placeholder='Password' class='form-control')
            div(class='form-group')
              label(for="rol")= 'rol.'
              input(type='Number' name='rol' id='rol' placeholder='1= S. Administrador, 2= Agrónomo, 3= Enólogo' class='form-control')
            button(type="submit" class='btn btn-default')= 'Registrar'
